@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #6bab90;
}

.pomodoro-container {
  max-width: 500px;
  margin: 100px auto 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #f3f3f3;
  text-align: center;
}

.timer-clock {
  width: 15em;
  height: 15rem;
  border: 4px solid rgba(255, 255, 255, 0.308);
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}

.timer-display {
  margin-top: 5.5rem;
  font-size: 3rem;
}
