@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #6bab90;
  padding-left: 1rem;
  padding-right: 1rem;
}

.pomodoro-container {
  max-width: 500px;
  margin: 100px auto 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #f3f3f3;
  text-align: center;
}

.timer-display {
  font-size: 3rem;
}

.button-group {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.pause {
  padding-right: 1.5rem;
}

.stop {
  padding-left: 1.5rem;
}
